* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background: rgb(249, 249, 249);
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 0 2rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

#time {
  font-size: 1.5rem;
  text-align: center;
  color:aliceblue;
  background-color: rgb(58, 45, 135);
  max-width: 40%;
  margin: auto;
  border-radius: 10px;
}

.logo {
  height: 10rem;
  padding-bottom: 2rem;
}

.welcome {
  font-size: 1.9rem;
  white-space: nowrap;
  margin-right: 2rem;
  margin-left: 2rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 2px solid rgb(97, 86, 243);
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  opacity: 0;
  transition: all 1s;
}

.daily-log {
  grid-row: 2 / span 4;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.log__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.log__type {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
  white-space: nowrap;
}

.log__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.log__value {
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}

.block {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
  text-align: center;
}

.block-row {
  background-image: linear-gradient(to top left, rgb(138, 212, 248), rgb(232, 195, 237));
}

.icon {
  display: block;
  width: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0 0 0 5px rgba(132, 133, 132, 0.833);
  margin: 20px;
}

.icon-in {
  display: block;
  width: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.833);
  margin: 20px;
}

.icon-out {
  display: block;
  width: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0 0 0 5px rgba(132, 133, 132, 0.833);
  margin: 20px;
}

.sign-out {
  cursor: pointer;
  border: none;
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
}


.sign-in {
  cursor: pointer;
  border: none;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
}

/*  */

.content {
  display: flex;
  white-space: nowrap;
  position:absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.content1 {
  max-width: 100%;
  height: 100px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

.head {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 3.5rem;
  background: #00bfff;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.close-btn {
  position: absolute;
  bottom: 12px;
  right: 25px;
  border: 1px solid #27ae60;
  border-radius: 3px;
  color: #27ae60;
  padding: 8px 10px;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  background: #e36666;
  color: white;
  transition: .5s;
}

.confirm-btn {
  position: absolute;
  bottom: 12px;
  left: 10px;
  border: 1px solid #27ae60;
  border-radius: 3px;
  color: #27ae60;
  padding: 8px 10px;
  font-size: 18px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #27ae60;
  color: white;
  transition: .5s;
}

/*  */

.contentt {
  display: flex;
  white-space: nowrap;
  position:absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.content2 {
  max-width: 100%;
  height: 100px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

.head2 {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 3.5rem;
  background: #00bfff;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.close-btn2 {
  position: absolute;
  bottom: 12px;
  right: 25px;
  border: 1px solid #27ae60;
  border-radius: 3px;
  color: #27ae60;
  padding: 8px 10px;
  font-size: 18px;
  cursor: pointer;
}

.close-btn2:hover {
  background: #e36666;
  color: white;
  transition: .5s;
}

.confirm-btn2 {
  position: absolute;
  bottom: 12px;
  left: 10px;
  border: 1px solid #27ae60;
  border-radius: 3px;
  color: #27ae60;
  padding: 8px 10px;
  font-size: 18px;
  cursor: pointer;
}

.confirm-btn2:hover {
  background: #27ae60;
  color: white;
  transition: .5s;
}